@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Leave Management System</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-JdOzSh21kk0Xp5ZSf5m5q5pk5bRUjF+hsvKN4b72C5MkRJDC7V8X/KPZr7Vc+R1uSQ6hUXU6doBz6Pq3FqJuwg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <style>
 
body {
    background-color: rgb(247, 250, 252);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: cover;
}
.card{
    background-size: none;
}
.card-header {
    background: linear-gradient(to right, #b44593, #dd3675, #d8363a, #ee7724);
}

.card-header h5 {
    margin-bottom: 0;
    text-color:brown;
}

.card-header p {
    margin-bottom: 0;
    font-size: 20px;
}
.card-title h5{
    font-color:brown;
}
.card-header img {
            max-width: 100%;
            height: auto;
        }
.card-body{
    background: #fccb90;
    background-size: none;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #b44593, #dd3675, #d8363a, #ee7724);
}
.gradient-custom-2 {
/* fallback for old browsers */
background-color: rgb(212, 124, 15);

/* Chrome 10-25, Safari 5.1-6 */
/background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
<!...container {
  background-color: rgba(255, 255, 255, 0.5);
  background-position:auto;
}..>

</style>
</head>
<body>
     <div class="container rounded-4">
        <div class="row justify-content-center">
            <div class="col-md-5 col-lg-5">-
                <div class="card rounded-5 bg-transparent  mb-3" style="">
                    <div class="card-header" style="text-align:center;">
                        <h5 class="card-title">Employee Leave Management System </h5>
                        <img src="https://images.pexels.com/photos/3184360/pexels-photo-3184360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="rounded-3" width="cover" height="cover"/>
                        <p class="card-text">Please login to access the system.</p>
                    </div>
                    <div class="card-body">
                        <div class="row-center">
                            <div class="row-center-6 " align="center">
                             <a href="/Employee/Login"  class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Log
                      in</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-qsW8s4Os4s6cQw6szLPb6YkZBJQC1+ZYf1M9XpD6W8zF7nnbMM0RR/5+kbIYJcN31G/A/nNQFjjI/X+DyN5h5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>